$header-bg:transparent;
$mainstyle-color:#fff;
$span-color:rgb(211, 169, 114);
$span-second-color:#656565;
$main-color:rgb(157, 132, 101);
$text-color:#262626;
$text-second-color:#505250;
$main-second-color:gray;
$bg-color:#FFFFFF;
$txt-color:#2f2e2e;
$second-color:white;
$button-color:#be9c79;
$hover-color:#BE9C77;
$color:rgb(157, 132, 101);
$color-end:rgb(211, 169, 114);
$bg-footer:#121212;